.container {
  padding-top: 5.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tabs {
  display: flex;
  background-color: white;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 0.275rem;
  box-shadow: 6px 8px 40px rgba(93, 143, 193, 0.25);
}

.tab {
  display: block;
  width: 9rem;
  background-color: white;
  color: #3d6b98;
  padding: 0.7rem 1rem;
  margin: 0.55rem 0.275rem;
  border-radius: 0.55rem;
  transition: all 0.3s;
}

.selected {
  background-color: #3d6b98;
  color: #d0e6f6;
}

@media only screen and (max-width: 600px) {
  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }

  .tab {
    display: block;
    margin: 0.275rem 0.55rem;
    width: 10rem;
  }
}
