.announcement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.6rem;
  margin: 0.75rem 0;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.options {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
}

.optionText {
  margin: 0.25rem 0.8rem;
}

.modalHead {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d6b98;
}

.modalHead h4 {
  margin: 0.75rem;
  font-weight: 500;
  color: #ffffff;
}

.close {
  margin-right: 0.75rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .options {
    flex-direction: column;
  }
}
