.announcement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.6rem;
  margin: 0.75rem 0;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

.homeTag,
.onlineTag {
  padding: 0.15rem 0.75rem !important;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 5rem;
  height: 1.1rem;
  margin: 0.3rem 0.4rem 0 0;
}

.homeTag {
  color: #ff6f66;
  background-color: #ffebe5;
}

.onlineTag {
  color: #4fc3b1;
  background-color: #e2f8f3;
}

.options {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
}

.optionText {
  margin: 0.25rem 0.8rem;
}

.modalHead {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d6b98;
}

.modalHead h4 {
  margin: 0.75rem;
  font-weight: 500;
  color: #ffffff;
}

.close {
  margin-right: 0.75rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .options {
    flex-direction: column;
  }

  .homeTag,
  .onlineTag {
    height: 1rem;
    margin-top: 0.45rem;
  }
}
