.announcement {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15px 40px;
    padding: 40px;
    gap: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 0 40px;
}

.title {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.options > * {
    height: 100px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex: 1 1 auto;
}

.daysOption {
    background-color: #FFEBE5;
}

.budgetOption {
    background-color: #E2F8F3;
}

.timeOption {
    background-color: #E0F0FF;
}

.optionText {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.optionDetailText {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.icon {
    min-height: 100%;
    width: auto;
    opacity: 0.25;
}

@media only screen and (max-width: 1440px) {
    .announcement {
        margin: 10px 25px;
        padding: 25px;
        gap: 10px;
    }

    .options {
        gap: 15px;
    }

    .options > * {
        height: 75px;
        padding: 10px 25px;
    }

    .title {
        font-size: 22px;
    }

    .column {
        margin: 0 0 0 25px;
    }

    .optionText {
        font-size: 18px;
        line-height: 20px;
    }

    .optionDetailText {
        font-size: 14px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 1080px) {
    .options > * {
        height: 50px;
        padding: 10px 15px;
    }

    .title {
        font-size: 20px;
    }

    .column {
        margin: 0 0 0 15px;
    }

    .optionText {
        font-size: 16px;
        line-height: 18px;
    }

    .optionDetailText {
        font-size: 12px;
        line-height: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .options {
        flex-direction: column;
    }
    .options > * {
        height: 24px;
        padding: 5px 10px;
    }
    .column {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
    }

    .optionText {
        font-size: 14px;
        line-height: 16px;
    }

}

@media only screen and (max-width: 480px) {
    .announcement {
        margin: 10px 20px;
        padding: 20px;
        gap: 10px;
    }

    .options {
        gap: 10px;
    }

    .options > * {
        height: 20px;
        padding: 5px 10px;
    }

    .title {
        font-size: 18px;
    }

    .optionText {
        font-size: 12px;
        line-height: 14px;
    }

    .optionDetailText {
        font-size: 12px;
        line-height: 14px;
    }

    .column {
        margin: 0 0 0 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


@media only screen and (max-width: 380px) {


    /*    to do     */
    .announcement {
        margin: 2.632vw 5.263vw;
        padding: 5.263vw;
        gap: 2.632vw;
        border-radius: 2.105vw;
        box-shadow: 0 0.526vw 2.632vw rgba(93, 143, 193, 0.25);
    }

    .options {
        gap: 2.632vw;
        border-radius: 2.105vw;
    }

    .options > * {
        height: 5.263vw;
        padding: 1.316vw 2.632vw;
    }

    .title {
        font-size: 4.737vw;
    }

    .optionText {
        font-size: 3.158vw;
        line-height: 3.684vw;
    }

    .optionDetailText {
        font-size: 3.158vw;
        line-height: 3.684vw;
    }

    .column {
        margin: 0 0 0 2.632vw;
    }

}
