.wrapper {
    padding: 80px 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 160px);
    min-width: 250px;
    overflow-y: scroll;
    gap: 15px;
    max-width: fit-content;
    margin: auto;
}

.lottie {
    overflow: hidden;
    min-height: 170px;
    max-height: 100vh;
    min-width: 170px;
    max-width: 100vw;
}

.lottie > * {
    width: 100vw;
    height: 100vh;
}

.lottieWrapper{
    background-color: white;
    padding: 25px 75px;
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(93, 143, 193, 0.25);
}

.lottieWrapper p {
    text-align: justify;
    text-align-last: center;
    text-justify: inter-word;
    font-size: 18px;
    max-width: 35ch;
}


.contact {
    display: flex;
    width: 100%;
    gap: 15px;
}

.primaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    background-color: #FF6F66;
    /*border: 4px solid #FF6F66;*/
    padding: 7.5px 25px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 40px rgba(93, 143, 193, 0.25);
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

.primaryButton > * {
    height: 30px;
}

.secondaryButton {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #3D6B98;
    border-radius: 8px;
    box-shadow: 0 4px 40px rgba(93, 143, 193, 0.25);

}

.secondaryButton > * {
    height: 20px;
}

@media screen and (max-width: 768px) {
    .lottieWrapper{
        padding: 15px 50px;
        border-radius: 16px;
    }

    .lottieWrapper p {
        font-size: 16px;
    }
}

@media screen and (max-width: 580px) {
    .lottieWrapper{
        padding: 15px 30px;
        border-radius: 14px;
    }

    .lottieWrapper p {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .lottieWrapper{
        padding: 3.947vw 7.895vw;
        border-radius: 3.684vw;
    }

    .lottieWrapper p {
        font-size: 3.684vw;
    }

    .wrapper {
        padding: 80px 0 25px 3.947vw;
    }
}