.inputs {
  margin: 0 15%;
}

.inputs textarea {
  box-shadow: 0 1px 15px rgba(225, 221, 212, 0.25);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row [type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.image {
  cursor: pointer;
  max-height: 6.25rem;
  min-width: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.row [type='radio']:checked + .image {
  outline: 4px solid #3d6b98;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.25);
  transition: all 0.1s;
}

.check {
  opacity: 0;
}

.row [type='radio']:checked + .image .check {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  background-color: #3d6b98;
  padding: 0.4rem;
  stroke-width: 3;
  color: #ffffff;
  margin-top: 4rem;
  margin-left: -2rem;
  box-shadow: -3px 2px 20px rgba(6, 21, 55, 0.25);
  transition: opacity box-shadow 0.1s;
}

.inputsRow {
  display: flex;
  justify-content: space-between;
}

.inputsRow :global(.adminInput) {
  padding: 0;
  border-color: transparent;
  text-align: center;
}

.first {
  margin-right: 1rem;
}

.last {
  margin-left: 1rem;
}

@media only screen and (max-width: 1400px) {
  .image {
    min-width: 6rem;
    max-height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .image {
    min-width: 5rem;
    max-height: 5rem;
    width: 5rem;
  }

  .row [type='radio']:checked + .image .check {
    margin-top: 3.25rem;
    margin-left: -1.85rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .inputs {
    margin: 1.5rem;
  }

  .row {
    flex-wrap: wrap;
    width: 50%;
    min-width: 30rem;
    margin: 0 auto;
  }

  .image {
    flex-basis: 25%;
    box-sizing: border-box;
    min-width: 6.25rem;
    max-height: 6.25rem;
    width: 6.25rem;
  }

  .row [type='radio']:checked + .image .check {
    padding: 0.4rem;
    margin-top: 4rem;
    margin-left: -2rem;
  }
}

@media only screen and (max-width: 600px) {
  .inputs textarea,
  .inputs select {
    margin: 0.5rem 0;
  }

  .inputsRow {
    flex-direction: column;
  }

  .first {
    margin-right: 0;
  }

  .last {
    margin-left: 0;
  }
  .image {
    min-width: 6rem;
    max-height: 6rem;
    width: 6rem;
  }
  .row {
    min-width: 26rem;
  }
}

@media only screen and (max-width: 480px) {
  .image {
    min-width: 4rem;
    max-height: 4rem;
    width: 4rem;
  }

  .row {
    min-width: 18rem;
  }

  .row [type='radio']:checked + .image .check {
    margin-top: 2.25rem;
    margin-left: -1.85rem;
    padding: 0.2rem;
  }
}
