.primary{
    background-color: #FF6F66;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    border-radius: 6px;
    width: fit-content;
    margin: 0 25px 0 0;
    max-width: 275px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    transition: 0.2s;
    transition-timing-function: linear;
}

.nav{
    padding: 0;
    font-size: 12px;
    margin: 0;
    transition: 0.2s;
    transition-timing-function: linear;
}

.primary a{
    text-align: center;
    height: 100%;
    color: white;
    padding: 7px 91px;
    transition: 0.2s;
    transition-timing-function: linear;
    border-radius: 6px;
}

.nav a {
    padding: 7px 17px;
    transition: 0.2s;
    transition-timing-function: linear;
}

.secondary{
    color : #3A3A3B;
    padding: 0;
    background-color: white;
    font-size: 12px;
    border-radius: 6px;
    transition: 0.2s;
    transition-timing-function: linear;
    display: flex;
}

.secondary a {
    padding: 7px 15px !important;
    width: 100% !important;
    transition: 0.2s;
    border-radius: 6px;
}

.primary:hover{
    background-color: #e6655c;
}

.secondary:hover{
    background-color: #f2f2f2;
}

.secondary a:hover {
    background-color: #f2f2f2;
}


.primary:active,.primary:focus{
    background-color: #cc5a52;
}

.secondary:active,.secondary:focus{
    background-color: #e6e6e6;
}

.secondary a:active,.secondary a:focus{
    background-color: #e6e6e6;
}

@media screen and (max-width: 1440px ) {
    .primary{
        max-width: 207px;
    }
    .primary a {
        padding: 7px 58px;
    }
    .nav{
        padding: 0;
    }
    .nav a {
        padding: 7px 17px;
    }
}

@media screen and (max-width: 580px ) {
    .primary{
        font-size: 14px;
        width: 170px;
    }
    .primary a {
        margin: 0;
        padding: 7px 45px;
    }
    .nav{
        padding: 0;
        width: fit-content;
    }
    .nav a {
        padding: 7px 17px;
    }
}

@media screen and (max-width: 425px){

    .primary{
        border-radius: 1.412vw;
        padding: 0;
        margin: 0 0 0 0;
        font-size: 3.294vw;
        width: 40vw;
    }
    .primary a {
        margin: 0;
        padding: 1.647vw 10.588vw;
        border-radius: 1.412vw;
    }

    .nav{
        margin: 3px 0;
        padding: 0;
        width: fit-content;
    }
    .nav a {
        padding: 7px 17px;
    }
}