/*Appear transition*/

.appear {
    opacity: 0.25;
}

.appearActive {
    opacity: 1;
    transition: opacity 500ms linear ;
}

/*Exit transition*/

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0.25;
    transition: opacity 100ms linear ;
}

.exitDone{
    opacity: 0.25;
}


/*Enter transition*/

.enter {
    opacity: 0.25;
}

.enterActive {
    opacity: 1;
    transition: opacity 500ms linear ;
}