/*Appear transition*/

.appear > svg > g > g> path:first-child{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    /*transform: scale(0);*/
}

.appearActive  > svg > g > g> path:first-child{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    /*stroke-width: 0 !important;*/
    /*stroke: red !important;*/
    animation: dash 1250ms linear  ;
    transition-delay: 1500ms;
    animation-delay: 250ms;

    /*transition-duration: 2500ms;*/
}

.appear > svg > g > g> path:last-child{
    opacity: 0;
}

.appearActive  > svg > g > g> path:last-child{
    opacity: 1;
    transition-delay: 750ms;
    transition-duration: 250ms;
}

/*Exit transition*/

.exit  > svg > g > g> path:first-child{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.exitActive  > svg > g > g> path:first-child{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: dash 100ms linear  ;
}

.exitDone  > svg > g > g> path:first-child{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.exit  > svg > g > g> path:last-child{
    opacity: 1;
}

.exitActive  > svg > g > g> path:last-child{
    opacity: 0;
    transition-duration: 100ms;
}

.exitDone  > svg > g > g> path:last-child{
    opacity: 0;
}

/*Enter transition*/

.enter  > svg > g > g> path:last-child{
    opacity: 0;
}

.enterActive  > svg > g > g> path:last-child{
    opacity: 1;
    transition-delay: 750ms;
    transition-duration: 250ms;
}

.enter  > svg > g > g > path:first-child{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.enterActive  > svg > g > g> path:first-child{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: dash 1250ms linear  ;
    transition-delay: 1500ms;
    animation-delay: 250ms;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 580px) {

    .appearActive  > svg > g > g> path:last-child{
        transition-delay: 500ms;
    }

    .enterActive  > svg > g > g> path:last-child{
        transition-delay: 500ms;
    }


}