.review {
    display: flex;
    background-color: white;
    margin: 15px 40px ;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 6px 8px 40px rgba(93, 143, 193, 0.25);
}

.username {
    font-size: 32px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.filled {
    stroke-width: 0;
    fill: #ffce51;
    height: 25px;
    width: 25px;
}

.empty {
    stroke-width: 0;
    fill: #e3e3e3;
    height: 25px;
    width: 25px;
}

.description {
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #a0a0a1;
    padding: 0;
    margin: 5px 0 0 0;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description span {
    font-size: 40px ;
    font-weight: 600;
    line-height: 40px;
    color: #3a3a3b;
}

.image {
    max-height: 125px;
    min-width: 125px;
    width: 125px;
    border-radius: 50%;
}

.content {
    text-align: left;
    margin-left: 25px;
}

@media screen and (max-width: 1440px) {
    .review {
        margin: 10px 25px ;
        padding: 25px;
    }
    .username {
        font-size: 22px;
    }
    .filled,.empty {
        height: 15px;
        width: 15px;
    }
    .description {
        font-size: 16px;
        line-height: 18px;
    }
    .description span {
        font-size: 32px;
        line-height: 32px;
    }
    .image{
        max-height: 100px;
        min-width: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 1080px) {
    .username {
        font-size: 20px;
    }
    .filled,.empty {
        height: 12px;
        width: 12px;
    }
    .description {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    }
    .description span {
        font-size: 28px;
        line-height: 28px;
    }
    .image{
        max-height: 75px;
        min-width: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 768px) {
    .review {
        padding: 20px;
    }
    .username {
        font-size: 18px;
    }
    .filled,.empty {
        height: 12px;
        width: 12px;
    }
    .description span {
        font-size: 24px;
        line-height: 24px;
    }
    .image{
        max-height: 50px;
        min-width: 50px;
        width: 50px;
    }
    .content {
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .review {
        margin: 10px 20px;
        padding: 20px;
    }
    .image{
        max-height: 40px;
        min-width: 40px;
        width: 40px;
    }
    .content {
        margin-left: 15px;
    }
}

@media screen and (max-width: 380px) {
    .review {
        margin: 2.632vw 5.263vw;
        padding: 5.263vw;
        border-radius: 2.105vw;
        box-shadow: 0 0.526vw 2.632vw rgba(93, 143, 193, 0.25);
    }

    .username {
        font-size: 4.211vw;
        line-height: 4.211vw;
    }

    .filled, .empty {
        height: 3.158vw;
        width: 3.158vw;
    }

    .description {
        font-size: 3.158vw;
        line-height: 3.684vw;
    }

    .description span {
        font-size: 6.316vw ;
        line-height: 6.316vw;
    }

    .image {
        max-height: 6.579vw;
        min-width: 6.579vw;
        width: 6.579vw;
    }

    .content {
        margin-left: 3.947vw;
    }
}
