.main {
    width: 100%;
    height: auto;
    background-color: white;
}


.text {
    position: absolute;
    z-index: 1;
    display: flex;
    height: 100%;
    max-height: 690px;
    width: 100%;
    max-width: calc(100% - 75px);
    margin-left: 75px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.heading {
    color: #3A3A3B;
    font-size: 3.4vw;
    line-height: 4.2vw;
    padding: 0;
    margin: 0 0 5px 0;
    max-width: calc(100% - 690px);
}

.description {
    color: #A0A0A1;
    font-size: 1.9vw;
    font-weight: 300;
    padding: 0;
    margin: 0;
    max-width: calc(100% - 780px);
}

.alternateH {
    font-size: 3.2vw;
    line-height: 4vw;
    max-width: calc(100% - 950px);
}

.alternateD {
    font-size: 1.8vw;
    max-width: calc(100% - 950px);
}

.lottie {
    height: auto;
    max-height: 690px;
    margin-top: 55px;
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.lottie svg {
    width: auto !important;
    max-width: 100%;
    height: auto;
    max-height: inherit;
}

.button{
    min-width: fit-content !important;
    font-size: 1.5vw !important;
    margin: 15px 0 !important;
    border-radius: 10px !important;
}

.button a {
    padding: 23px 116px !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 1440px) {
    .lottie {
        max-height: 550px;
    }

    .text {
        max-height: 550px;
        margin-left: 50px;
    }

    .heading {
        font-size: 4.2vw;
        line-height: 5vw;
        max-width: calc(100% - 530px);
    }

    .description {
        font-size: 2vw;
        max-width: calc(100% - 620px);
    }

    .alternateH {
        font-size: 3vw;
        line-height: 3.5vw;
        max-width: calc(100% - 725px);
    }

    .alternateD {
        font-size: 1.7vw;
        max-width: calc(100% - 725px);
    }

    .button{
        font-size: 1.5vw !important;
        padding: 0 !important;
        margin: 10px 0 !important;
        border-radius: 10px !important;
    }

    .button a{
        padding: 17px 83px !important;
        margin: 0 !important;
        border-radius: 10px !important;
    }

}


@media screen and (max-width: 1080px) {
    .lottie {
        max-height: 409px;
    }

    .text {
        max-height: 409px;
        margin-left: 2.778vw;
    }

    .heading {
        font-size: 4vw;
        line-height: 5vw;
        max-width: calc(100% - 380px);
    }

    .description {
        font-size: 2.3vw;
        max-width: calc(100% - 430px);
    }

    .alternateH {
        font-size: 3vw;
        line-height: 3.5vw;
        max-width: calc(100% - 530px);
    }

    .alternateD {
        font-size: 1.5vw;
        max-width: calc(100% - 530px);
    }

    .button{
        font-size: 1.45vw !important;
        padding: 0 !important;
        margin: 10px 0 !important;
        border-radius: 8px !important;
    }

    .button a{
        padding: 17px 83px !important;
        margin: 0 !important;
        border-radius: 8px !important;
    }

}

@media screen and (max-width: 768px) {
    .lottie {
        max-height: 294px;
    }

    .text {
        max-height: 294px;
        margin-left: 3.906vw;
    }

    .heading {
        max-width: calc(100% - 250px);
    }

    .description {
        max-width: calc(100% - 300px);
    }

    .alternateH {
        max-width: calc(100% - 350px);
    }

    .alternateD {
        max-width: calc(100% - 350px);
    }

    .button{
        font-size: 2vw !important;
        padding: 0 !important;
        margin: 5px 0 !important;
        border-radius: 6px !important;
    }

    .button a{
        padding: 10px 45px !important;
        border-radius: 6px !important;
    }

}

@media screen and (max-width: 580px) {

    .main {
        padding-top: 4.5vw;
    }

    .text {
        margin: 40px 0 0 15px;
        max-height: 47vw;
    }

    .alternateText{
        margin: 31px 0 0 15px;
        max-height: 42.5vw;
    }

    .heading {
        font-size: 5vw;
        line-height: 6vw;
        max-width: 51.724vw;
    }

    .description {
        font-size: 2.2vw;
        max-width: calc(100% - 43.103vw);
        display: none;
    }

    .lottie {
        margin-top: 25px;
        margin-right: 0;
        width: 100%;
        max-height: 91.875vw;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
    }



    .lottie svg{
        margin-left: 8.621vw;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .alternateLottie svg{
        margin-left: 41.724vw;
    }

    .button{
        font-size: 2vw !important;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 1.034vw !important;
        max-width: fit-content !important;
    }

    .button a{
        padding: 1.379vw 6.897vw !important;
        margin: 0 !important;
        border-radius: 1.034vw !important;
    }


}

@media screen and (max-width: 320px) {

    .main {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .text {
        margin: 60px 0 0 10px;
        padding-bottom: 0;
        max-height: 50vw;
    }

    .alternateText{
        margin: 51px 0 0 10px;
        max-height: 43vw;
    }

    .heading{
        font-size: 4.8vw;
        max-width: 50vw;
    }

    .button{
        font-size: 2vw !important;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 1.034vw !important;
        max-width: fit-content !important;
    }

    .lottie {
        margin-top: 55px;
    }


    .button a{
        padding: 1.379vw 6.897vw !important;
        margin: 0 !important;
        border-radius: 1.034vw !important;
    }

}
