.inputs {
  margin: 0 15%;
}

.inputs textarea {
  box-shadow: 0 1px 15px rgba(225, 221, 212, 0.25);
}

.inputsRow {
  display: flex;
  justify-content: space-between;
}

.inputsRow :global(.adminInput) {
  padding: 0;
  border-color: transparent;
  text-align: center;
}

.inputsRow :global(.css-1s2u09g-control),
.inputsRow :global(.css-1pahdxg-control) {
  border: 2px solid transparent;
  border-radius: 0.6rem;
  padding: 0.1rem 0;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.25);
  /* transition: 0.3s; */
}

.inputsRow :global(.css-1s2u09g-control:hover),
.inputsRow :global(.css-1pahdxg-control:hover) {
  border-color: transparent;
}

/* .inputsRow :global(.css-1pahdxg-control),
.inputsRow :global(.css-1pahdxg-control:hover) {
  border-color: #3d6b98;
} */

.inputsRow :global(.css-tlfecz-indicatorContainer:hover),
.inputsRow :global(.css-1gtu0rj-indicatorContainer),
.inputsRow :global(.css-1gtu0rj-indicatorContainer:hover),
.inputsRow :global(.css-qc6sy-singleValue) {
  color: #3d6b98;
}

.inputsRow :global(.css-tlfecz-indicatorContainer),
.inputsRow :global(.css-14el2xx-placeholder) {
  color: #a1bedb;
  font-weight: 500;
}

.inputsRow :global(.css-1okebmr-indicatorSeparator) {
  opacity: 0;
}

.first {
  margin-right: 1rem;
}

.last {
  margin-left: 1rem;
}

@media only screen and (max-width: 1024px) {
  .inputs {
    margin: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .inputs textarea,
  .inputs select {
    margin: 0.5rem 0;
  }

  .inputsRow {
    flex-direction: column;
  }

  .first {
    margin-right: 0;
  }

  .last {
    margin-left: 0;
  }
}
