.modalHead {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3d6b98;
}

.modalHead h4 {
  margin: 0.75rem;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: #ffffff;
}

.modalContent {
  margin: 1rem 2.5rem 1.25rem 2.5rem;
}

.close {
  margin-right: 1rem;
  cursor: pointer;
}

.delete {
  color: #3a3a3b;
}

.delete h2 {
  margin-bottom: 0;
}

.cancelButton {
  background-color: #d0e6f6;
  color: #345c83;
  margin-right: 0.3rem;
}

.deleteButton {
  background-color: #ffccd2;
  color: #ff334b;
  margin-left: 0.3rem;
}

.cancelButton:hover {
  background-color: #a1bedb;
}

.deleteButton:hover {
  background-color: #ffb3bb;
}

.cancelButton:active,
.cancelButton:focus {
  background-color: #7aa3cd;
}

.deleteButton:active,
.deleteButton:focus {
  background-color: #ff8591;
}

@media only screen and (max-width: 600px) {
  .modalContent {
    margin: 1rem 1.5rem 1.25rem 1.5rem;
  }
}
