.container {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 111px);
}

.error {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 2.5rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
  margin: 2rem;
}

.lottie {
  height: auto;
  max-height: 20rem;
  width: fit-content;
  max-width: 100%;
}

.lottie svg {
  width: auto !important;
  max-width: 100%;
  height: auto;
  max-height: inherit;
}

.error h2 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #3d6b98;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .error h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  .error {
    margin: 2rem 1rem;
    padding: 1.25rem;
  }

  .error h2 {
    font-size: 0.9rem;
  }

  .container {
    min-height: calc(100vh - 127px);
  }
}
