html {
  padding: 0;
  margin: 0;
  position: relative;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  position: inherit;
  height: inherit;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

body > * {
  overflow-x: hidden;
}

#globalLoader {
  position: fixed;
  z-index: 5000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  --clr: #8cc7ff;
  --border: 5px;
  width: 50px;
  height: 50px;
  position: relative;
}

.mid {
  margin: 20px auto;
}

.loader div:nth-child(1),
.loader div:nth-child(2) {
  content: '';
  position: absolute;
  top: var(--border);
  left: var(--border);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: var(--border) solid transparent;
  border-top-color: var(--clr);
}

.loader div:nth-child(1) {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader div:nth-child(2) {
  border: var(--border) solid #c4eaff;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.css-9gakcf-option {
  background-color: #3d6b98 !important;
  transition: 0.3s !important;
}

.css-1n7v3ny-option {
  background-color: #e4f4fe !important;
  transition: 0.3s;
}

.css-e6lgt3-control {
  box-shadow: none !important;
  border-color: #3d6b98 !important;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f3faff;
}

.background > * {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav {
  z-index: 10000;
}

.body {
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-container {
  flex: 1;
  display: flex;
  cursor: grab;
  overflow: auto;
  width: 100vw;
}

.slider {
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.services > div {
  padding: 50px 50px 50px 50px !important;
  margin-top: -50px;
  cursor: grab;
}

.slick-dots li {
  border: 2px solid #a1bedb;
  max-height: 15px;
  max-width: 15px;
  border-radius: 50%;
}

.slick-dots li button {
  padding: 7px;
  height: 15px !important;
  width: 15px !important;
}

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0) !important;
}

.slick-dots li.slick-active {
  background-color: #607385;
  border: 2px solid #607385;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  border: 0.44rem solid transparent;
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #3d6b98;
}

/* Admin panel global styles */

.adminHeading {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15;
  color: #3d6b98;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.2);
  padding: 1.5rem;
  margin: 3rem auto;
}

.adminHeading br {
  display: none;
}

.adminSection {
  margin: 0;
}

.adminList {
  margin: 3.65rem 15%;
  background-color: #ffffffff;
  border-radius: 1rem;
  /* padding: 0.5rem 1rem; */
  border: 0.25rem solid #a1bedb;
  max-height: 40rem;
  overflow-y: auto;
  box-shadow: 0 4px 40px rgba(225, 221, 212, 0.25);
}

.adminListBig {
  margin: 3.65rem 10%;
  max-height: 45rem;
}

.adminCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.6rem;
  margin: 0.75rem 0;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.adminInput {
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  margin: 0.65rem 0;
  border-radius: 0.6rem;
  border: 2px solid #a1bedb;
  width: 100%;
  font-size: 1rem;
  color: #3d6b98;
  caret-color: #3d6b98;
  transition: 0.3s;
}

.adminInput::placeholder {
  color: #a1bedb;
  font-weight: 500;
}

.adminInput:active,
.adminInput:focus,
.adminInput:focus-visible {
  outline: none;
  border-color: #3d6b98;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.2);
}

.adminButton {
  background-color: #3d6b98;
  color: #d0e6f6;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.75rem 0;
  margin: 0.65rem 0;
  border-radius: 0.75rem;
  width: 100%;
}

.adminButton:hover {
  background-color: #345c83;
}

.adminButton:active,
.adminButton:focus {
  background-color: #2f5275;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle span {
  margin-right: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #3d6b98;
}

.react-switch {
  box-shadow: 0 1px 15px rgba(225, 221, 212, 0.25);
  font-weight: 500;
}

.react-switch-handle {
  top: 0.315rem !important;
  left: 0.25rem !important;
  height: 2rem !important;
  width: 2rem !important;
}

.icons {
  display: flex;
  margin-top: -0.2rem;
}

.icons > *:not(p) {
  margin: 0 1px;
  cursor: pointer;
  padding: 0.4rem;
}

.editIcon:hover,
.trashIcon:hover {
  border-radius: 25%;
  transition: background-color 0.3s;
}

.editIcon:hover {
  background-color: rgba(79, 195, 177, 0.25);
}

.editIcon:active {
  background-color: rgba(79, 195, 177, 0.5);
}

.trashIcon:hover {
  background-color: rgba(255, 111, 102, 0.25);
}

.trashIcon:active {
  background-color: rgba(255, 111, 102, 0.5);
}

.noRecords {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #3d6b98;
  text-align: center;
  margin: 3rem auto;
}

button:disabled,
.disabled {
  pointer-events: none;
}

button:disabled {
  opacity: 0.85;
  transition: opacity 0.3s;
}

/*Phone input custom styles*/

.PhoneInput {
  padding: 0 !important;
}

.PhoneInputInput {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #3d6b98;
  outline: none;
  margin: 0;
  padding: 10px 25px 10px 10px;
  background: #ffffff;
  opacity: 0.75;
  border: none;
  box-shadow: 0px 1px 15px rgba(225, 221, 212, 0.25);
  border-radius: 0px 8px 8px 0px;
}

.PhoneInputInput::placeholder {
  color: #a1bedb;
}

.PhoneInputCountry {
  padding: 10px 15px 10px 25px;
  background: rgba(161, 190, 219, 0.25);
  opacity: 0.75;
  border-width: 0px 4px 0px 0px;
  border-style: solid;
  border-color: #a1bedb;
  gap: 5px;
}

.PhoneInputCountryIcon--border {
  overflow: hidden;
  border-radius: 2px;
}

.PhoneInputCountrySelectArrow {
  border-width: 0 4px 4px 0 !important;
  border-radius: 0 2px 2px 2px;
}

/*Phone input custom styles end*/

option {
  background-color: white;
  color: #1d1d1d;
}

/*Appear transition*/

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/*Exit transition*/

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

/*Enter transition*/

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

@media screen and (max-width: 1440px) {
  .services {
    margin-bottom: 75px !important;
  }

  .services > div {
    padding-bottom: 25px !important;
  }

  .slick-dots li {
    max-height: 12px;
    max-width: 12px;
  }

  .slick-dots li button {
    padding: 5px;
    height: 12px !important;
    width: 12px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .adminList {
    margin: 3.65rem 1.5rem;
  }

  .adminHeading br {
    display: block;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .adminHeading {
    font-size: 2rem;
    margin: 2rem auto;
  }

  .adminList {
    margin: 2.5rem 1.5rem;
  }

  .icons {
    display: flex;
    margin-top: -0.3rem;
  }

  .react-switch-handle {
    top: 0.45rem !important;
    left: 0.4rem !important;
  }

  .noRecords {
    font-size: 1.3rem;
  }

  .slick-dots li {
    max-height: 10px;
    max-width: 10px;
  }

  .slick-dots li button {
    padding: 5px;
    height: 10px !important;
    width: 10px !important;
  }
}

@media screen and (max-width: 425px) {
  .adminHeading {
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  .services {
    margin-bottom: 17.647vw !important;
  }

  .services > div {
    padding-bottom: 3.529vw !important;
  }

  .slick-dots {
    margin: 0 !important;
    padding: 0 !important;
  }

  .slick-dots li {
    border: 0.5vw solid #a1bedb;
    max-height: 1.765vw;
    max-width: 1.765vw;
  }

  .slick-dots li button {
    padding: 0.706vw;
    border: 0.5vw solid #607385;
    max-height: 1.765vw !important;
    max-width: 1.765vw !important;
  }
}

@media screen and (max-width: 380px) {
  .PhoneInputInput {
    font-size: 14px;
    line-height: 15px;
    padding: 15px 15px 15px 10px;
  }
  .PhoneInputCountry {
    padding: 10px 10px 10px 15px;
  }
}

@media (max-width: 320px) {
  .loader {
    --border: 1.563vw;
    width: 15.63vw;
    height: 15.63vw;
  }

  ::-webkit-scrollbar {
    width: 6vw;
  }

  ::-webkit-scrollbar-thumb {
    border: 2.2vw solid transparent;
    background-clip: padding-box;
    border-radius: 10vw;
    background-color: #3d6b98;
  }
}
