html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f3faff;
}

.background > * {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  border: 0.44rem solid transparent;
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #3d6b98;
}

/* Admin panel global styles */

.adminHeading {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15;
  color: #3d6b98;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.2);
  padding: 1.5rem;
  margin: 3rem auto;
}

.adminInput {
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  margin: 0.65rem 0;
  border-radius: 0.6rem;
  border: 2px solid #a1bedb;
  width: 100%;
  font-size: 1rem;
  color: #3d6b98;
  caret-color: #3d6b98;
  transition: 0.3s;
}

.adminInput::placeholder {
  color: #a1bedb;
  font-weight: 500;
}

.adminInput:active,
.adminInput:focus,
.adminInput:focus-visible {
  outline: none;
  border-color: #3d6b98;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.2);
}

.adminButton {
  background-color: #3d6b98;
  color: #d0e6f6;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.75rem 0;
  margin: 0.65rem 0;
  border-radius: 0.75rem;
  width: 100%;
}

.adminButton:hover {
  background-color: #345c83;
}

.adminButton:active,
.adminButton:focus {
  background-color: #2f5275;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .adminHeading {
    margin: 2rem auto;
  }
}
