.announcements {
  margin: 0;
}

.list {
  margin: 3.65rem 10%;
  background-color: #ffffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 0.25rem solid #a1bedb;
  max-height: 34rem;
  overflow-y: auto;
  box-shadow: 0 4px 40px rgba(225, 221, 212, 0.25);
}

@media only screen and (max-width: 1024px) {
  .list {
    margin: 3.65rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .list {
    margin: 2.5rem 1.5rem;
  }
}
