.testimonial {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.75rem;
}

.description {
}

.description span {
  font-size: 2rem;
  font-weight: 600;
}

.username {
  font-weight: 600;
  align-self: flex-end;
}
